.portfolio-section {
    background: rgb(0 0 0 / 30%) url(../images/img36.png);
    background-position: top !important;
    background-blend-mode: overlay;
}

.folio-section {
    padding-top: 13px;
}


.blogs_wrapper ul,
.folio_wrapper ul {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 11.48px;

}


.blogs_wrapper li,
.folio_wrapper li,
.folio-single-image {
    position: relative;
}

.blogs-single-image::after,
.folio-single-image::after {
    content: "";
    position: absolute;
    background: rgb(0 0 0 / 25%);
    inset: 0;
}



.blogs_wrapper li,
.folio_wrapper li {
    /* position: relative; */
    cursor: pointer;
}


.blog_details__knownledge-single-image,
.blogs_wrapper ul li .blogs-single-image,
.folio_wrapper ul li .folio-single-image {
    overflow: hidden;
    height: 100%;
}


.blog_details__knownledge_wrapper__div ul li .blog_details__knownledge-single-image img,
.blogs_wrapper ul li .blogs-single-image img,
.folio_wrapper ul li .folio-single-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    scale: 1;
    transition: all ease-in-out 0.3s;
}


.blog_details__knownledge_wrapper__div ul li:hover .blog_details__knownledge-single-image img,
.blogs_wrapper ul li:hover .blogs-single-image img,
.folio_wrapper ul li:hover .folio-single-image img {
    scale: 1.1;
    transition: all ease-in-out 0.3s;
}


.blogs-single-text,
.folio-single-text {
    position: absolute;
    inset: 52px;
    /* inset: 30px; */
    inset: 46px 0px 0px 60px;
}

.folio-single-text h2,
.folio-single-text h4 {
    color: #fff;
}

.folio-single-text h2 {
    /*font-size: 30px;*/
    font-weight: normal;
    border-bottom: 2px solid #fff;
    padding-bottom: 4px;
    display: inline-block;
        font-size: 2.3rem;
    line-height: 2.6rem;
}
.folio-single-text h4 {
    /*font-size: 30px;*/
    font-size: 2.3rem;
    font-weight: 300;
    margin-top: 8px;
    line-height: 1;
    display: block;
}



.blog-section {
    background: rgb(0 0 0 / 09%) url(../images/img49.png);
    background-position: bottom !important;
    background-blend-mode: overlay;
}

.blogs-single-image::after {
    background: rgb(0 0 0 / 36%);
    /* background: rgb(0 0 0 / 15%); */
}


.blogs-single-text {
    inset: 0;
    color: #fff;
}


.blogs-single-text h2 {
    background: #7bccc3;
    display: inline-block;
    color: #fff;
    font-size: 20px;
    font-weight: 300;
    text-transform: uppercase;
    line-height: 1;
}

.blogs-single-text h4 {
    /*font-size: 2.7rem;*/
    /*font-size: 5.5rem;*/
    font-size: 3.5rem;
    font-weight: 300;
}


.b_details_text {
    padding: 60px 33px 33px;
}


.btn-blog_row a {
    margin-top: 2.4rem;
    color: #929e9c;
}




.blog_cta-section {
    background: rgb(0 0 0 / 09%) url(../images/img52.png);
    background-position: center !important;
}


.blog_cta_wrapper {
    padding: 15rem 0;
}

.blog_cta_text {
    padding: 0;
}

.flex_btn_cta {
    display: flex;
    gap: 0 25px;
    align-items: center;
    justify-content: flex-start;
}


.btn_blog_cta_a {
    background: rgb(0 0 0 / 40%);
    margin: 0;
}


.blog_details__knownledge_wrapper {
    background: #cacaca;
}


.blog_details__knownledge_heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 50px;
}

.blog_details__knownledge_single:hover .blog_details__knownledge_text p {
    color: #fff !important;
    transition: all ease-in-out 0.3s;
}

.blog_details__knownledge_heading h2 {
    text-transform: uppercase;
    color: #fff;
    font-size: 3rem;
    font-weight: 300;
    border-bottom: 2px solid #fff;
    display: inline-block;
}

.blog_details__knownledge_single {
    display: grid;
    grid-template-columns: repeat(6, minmax(0, 1fr));
    gap: 0 60px;
    padding: 0;
    align-items: center;
}
.blog_details__knownledge_single .blog_details__knownledge_text {
    grid-column: span 5;
    padding: 0;
}

.blog_details__knownledge_text p {
    color: #7b7b7b;
 font-size: 2.5rem;
 font-weight: 300;
}

.date_show {
    color: #a5a5a5;
    font-size: 2rem;
    font-weight: 300;
}


.blog_details__knownledge_wrapper__div ul {
    display: grid;
    gap: 35px 0;
}


.blog_details__knownledge_wrapper__div > div:not(:first-child) {
    padding-top: 70px;
}


.contact-section {
    background: rgb(0 0 0 / 09%) url(../images/img59.png);
    background-position: bottom !important;
    background-blend-mode: overlay;
}


.body-wrapper-sec_contact {
    background: rgb(0 0 0 / 32%) url(../images/img60.png);
    /* background: url(../images/img60.png); */
    background-position: top;
    background-blend-mode: overlay;
    position: relative;
    z-index: 0;
}

.body-wrapper-sec_contact::before {
    content: "";
    position: absolute;
    /* background: url(../images/stripecontop.png) no-repeat; */
    inset: -68rem 0 0rem -95rem;
    height: 100%;
    opacity: 0.1;
    pointer-events: none;
    /* opacity: 0; */
}

.body-wrapper-sec_contact::after {
    content: "";
    position: absolute;
    background: url(../images/stripeconbottom.png) no-repeat;
    inset: 26rem 0 0 -95rem;
    inset: 26rem 0 0 -120rem;
    inset: 26rem 0 0 -95rem;
    height: 100%;
    opacity: 0.1;
    pointer-events: none;
    z-index: -1;
}

.grid_single__wrapper {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    place-items: center;
}

.image-single__contact {
    grid-column: span 2;
    position: relative;
}

.image-single__contact::after {
    content: "";
    position: absolute;
    background: rgb(0 0 0 / 25%);
    inset: 0;
}

.text-single__contact {
    padding: 5rem 10rem;
}

.text-single__contact__wrap {
    border-bottom: 2px solid rgb(255 255 255 / 69%);
    max-width: 80rem;
    padding-bottom: 10px;
}

.text-single__contact a,
.text-single__contact p {
    font-size: 1.6rem;
    line-height: 2.3rem;
    color: #fff;
    
}

.text-single__contact a:hover {
    color: #7bccc3;
}

.contact_form_section {
    padding: 13.5rem 0 7rem;
}


.contact-wrapper li:nth-child(2n) .image-single__contact {
    grid-column: 3/3;
    grid-row: 1/1;
}
.contact-wrapper li:nth-child(2n) .text-single__contact {
    grid-column: 1/3;
    grid-row: 1/1;
}

.contact_form-wrapper form {
    display: grid;
    max-width: 950px;
    margin: 0 auto;
    padding: 60px 60px 30px;
    background: transparent;
    /* background: rgb(146 158 156 / 78%); */
    background: rgb(0 0 0 / 30%);
}

.form-group textarea,
.form-group input {
    background: transparent;
    /* height: 50px; */
    border: 0;
    border-bottom: 2px solid rgb(255 255 255 / 69%);
    font-size: 15px;
    padding: 0 0;
    width: 100%;
    color: #fff;
    height: auto;
    padding: 30px 0 5px;

}


.form-group textarea {
    height: 60px !important;
}


.form-group label {
    color: #fff;
    margin: 0 0 0px !important;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 500;
    line-height: 1;
}

.form-control:focus {
    border-color: #fff;
    box-shadow: none;
    background: transparent;
    color: #fff;
}


textarea::placeholder,
input::placeholder {
    /* text-transform: uppercase; */
    color: #fff !important;
    font-weight: 300;
}

.form-control:focus-visible {
    border: 0 !important;
    outline: 0 !important;
    border-bottom: 2px solid #fff !important;
}


.contact_form-wrapper form .form-group {
    margin: 0 0 40px;
}

.contact_form-wrapper form .form-group:first-child {
    display: grid;
}

.contact_form-wrapper form .form-group:first-child label {
    grid-column: span 1/-1;
}

.contact_form-wrapper form .form-group:first-child > div {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 10rem;
}


.btn-read-form {
    margin: 0 auto;
}


.insta_section {
    padding: 10px 10px;
}

.insta__wrapper ul {
    display: grid;
    /* grid-template-columns: repeat(5, minmax(0, 1fr)); */
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 10px;
}

.images-single-insta {
    overflow: hidden;
    cursor: pointer;
}

.images-single-insta img {
    scale: 1;
    transition: all ease-in-out 0.3s;
}


.insta__wrapper ul li:hover .images-single-insta img {
    scale: 1.1;
    transition: all ease-in-out 0.3s;
}

.contact_trusted {
    padding: 6.5rem 0 15rem;
}
.contact_trusted .trusted-wrapper {
    padding: 0;
}


/* RESPONSIVE */
@media(max-width: 1199px) {
    .folio-single-text {
        inset: 46px 0px 0px 25px;
    }

    .folio-single-text h2 {
        font-size: 2.3rem;
        line-height: 2rem;
    }

    .folio-single-text h4 {
        font-size: 20px;
    }

    .blogs-single-text h4 {
        font-size: 3.3rem;
    }

    .blogs-single-text h2 {
        /*font-size: 20px;*/
    }

    .blog_details__knownledge_heading h2 {
        font-size: 3.3rem;
    }
}
@media(max-width: 991px) {
    .blogs_wrapper ul,
    .folio_wrapper ul  {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    .folio-single-text {
        inset: 25px 0px 0px 10px;
    }

    .blog_details__knownledge_text p {
        font-size: 2rem;
    }

    .date_show {
        font-size: 1.5rem;
    }

    .blog_details__knownledge_single {
        gap: 0 30px;
    }

    .text-single__contact {
        padding: 5rem 3rem;
    }
    
    .b_details_text {
    padding: 15px 20px 15px;
}
    
}


@media(max-width: 767px) {
    .blogs_wrapper ul,
    .folio_wrapper ul  {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }

    .b_details_text {
        padding: 60px 0 0 20px;
    }

    .blog_details__knownledge_single {
        grid-template-columns: repeat(5, minmax(0, 1fr));
        gap: 0 30px;
    }

    .blog_details__knownledge-single-image {
        grid-column: span 2;
    }

    .blog_details__knownledge_single .blog_details__knownledge_text {
        grid-column: span 3;
    }

    .grid_single__wrapper {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }

    .contact-wrapper li:nth-child(2n) .image-single__contact {
        grid-column: 1/-1;
        grid-row: inherit;
    }

    .contact-wrapper li:nth-child(odd) .image-single__contact {}

    /* .contact-wrapper li:nth-child(odd) .text-single__contact */
    .text-single__contact {
        grid-row: 1/2;
    }

    .contact_form-wrapper form .form-group:first-child > div {
        gap: 2rem;
    }
}

@media(max-width: 576px) {
    .flex_btn_cta {
        gap: 0 20px;
    }

    .btn_contact_a {
        padding: 1px 10px;
        line-height: 1.2 !important;
    }

    .contact_form-wrapper form .form-group:first-child > div {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }

    .contact_form-wrapper form {
        padding: 60px 15px 30px;
    }
    
    .b_details_text {
    padding: 10px 10px 10px;
}

.blogs-single-text h4 {
    font-size: 2.7rem;
}

}

@media(min-width: 1661px) {
    .blogs-single-text h4 {
        font-size: 4.5rem;
    }
    
    .blogs-single-text h2 {
        font-size: 25px;
    }
}