@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  -webkit-text-size-adjust: 100%;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 2rem;
  font-weight: inherit;
}

a {
  color: #fff !important;
  text-decoration: inherit;
  transition: all ease-in-out 0.3s;
}
a:hover {
  color: #7bccc3 !important;
  transition: all ease-in-out 0.3s;
}
b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp,
pre {
  font-size: 1em;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

table {
  text-indent: 0;
  border-color: inherit;
  border-collapse: collapse;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: inherit;
  color: inherit;
  margin: 0;
  padding: 0;
}

button,
select {
  text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  background-color: transparent;
  background-image: none;
}

:-moz-focusring {
  outline: auto;
}

:-moz-ui-invalid {
  box-shadow: none;
}

progress {
  vertical-align: baseline;
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  outline-offset: -2px;
}

::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

summary {
  display: list-item;
}

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
}

ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

input::-moz-placeholder,
textarea::-moz-placeholder {
  opacity: 1;
  color: #9ca3af;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  opacity: 1;
  color: #9ca3af;
}

input::placeholder,
textarea::placeholder {
  opacity: 1;
  color: #9ca3af;
}

button,
[role="button"] {
  cursor: pointer;
}

:disabled {
  cursor: default;
}

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  vertical-align: middle;
}

img,
video {
  max-width: 100%;
  height: auto;
}

[hidden] {
  display: none;
}

@font-face {
  font-family: "Adobe Arabic";
  src: url("../fonts/AdobeArabic-Regular.woff2") format("woff2"),
    url("../fonts/AdobeArabic-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans.woff2") format("woff2"),
    url("../fonts/OpenSans.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Arial";
  src: url("../fonts/ArialMT.woff2") format("woff2"),
    url("../fonts/ArialMT.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Light.woff2") format("woff2"),
    url("../fonts/OpenSans-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica";
  src: url("../fonts/Helvetica-Compressed.woff2") format("woff2"),
    url("../fonts/Helvetica-Compressed.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica";
  src: url("../fonts/Helvetica-Light.woff2") format("woff2"),
    url("../fonts/Helvetica-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica";
  src: url("Helvetica-BoldOblique.woff2") format("woff2"),
    url("Helvetica-BoldOblique.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica";
  src: url("../fonts/Helvetica-Bold.woff2") format("woff2"),
    url("../fonts/Helvetica-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica";
  src: url("../fonts/HelveticaRounded-Bold.woff2") format("woff2"),
    url("../fonts/HelveticaRounded-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica";
  src: url("Helvetica.woff2") format("woff2"),
    url("Helvetica.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica";
  src: url("../fonts/Helvetica-Oblique.woff2") format("woff2"),
    url("../fonts/Helvetica-Oblique.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

body {
  font-family: "Open Sans";
  font-weight: 400;
}

.navbar {
  padding: 0;
}

.navbar-expand-lg .navbar-toggler {
  display: block;
  padding: 0;
}
.navbar-toggler:focus {
  box-shadow: none;
}
.hamburger {
  font: inherit;
  display: inline-block;
  overflow: visible;
  margin: 0;
  padding: 15px;
  cursor: pointer;
  transition-timing-function: linear;
  transition-duration: .15s;
  transition-property: opacity,filter;
  text-transform: none;
  color: inherit;
  border: 0;
  background-color: transparent;
  -webkit-appearance: none;
}

.hamburger-box {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 24px;
}

.hamburger-inner {
  top: 50%;
  display: block;
  margin-top: -2px;
  color: #fff;
}

.hamburger-inner, .hamburger-inner:after, .hamburger-inner:before {
  position: absolute;
  width: 40px;
  height: 2px;
  transition-timing-function: ease;
  transition-duration: .15s;
  transition-property: transform;
  border-radius: 4px;
  background-color: #fff;
  border-radius: 0;
}
.hamburger--spin .hamburger-inner {
  transition-timing-function: cubic-bezier(.55,.055,.675,.19);
  transition-duration: .22s;
}

.hamburger-inner:after, .hamburger-inner:before {
  display: block;
  content: "";
  /* opacity: 0; */
  display: none;
}
.hamburger-inner:before {
  top: -10px;
}
.hamburger--spin .hamburger-inner:before {
  transition: top .1s ease-in .25s,opacity .1s ease-in;
}
.hamburger-inner:after {
  bottom: -10px;
}
.hamburger--spin .hamburger-inner:after {
  transition: bottom .1s ease-in .25s,transform .22s cubic-bezier(.55,.055,.675,.19);
}
.header_navigation {
  display: none;
  width: 100%;
  background: red;
  position: fixed;
  inset: 0 0 0 auto;
  height: 100%;
  z-index: 1;
  max-width: 50%;
  padding: 17rem 5rem 5rem;
}
.navigation_menu > ul {
  display: block;
  width: 100%;
  height: 100%;
}

.navigation_menu > ul > li:not(:first-child) {
  padding-top: 1.2rem;
}
.navigation_menu li a {
  color: #fff;
  font-size: 3.4rem;
  padding: 0 !important;
  text-transform: uppercase;
  font-weight: 600;
}
.navigation_menu li a.active {
  color: #000 !important;
}

.bg-props {
  background-repeat: no-repeat !important;
  background-size: cover !important;
}
/* ===================
HOMEPAGE-START
=================== */
.hero-section {
  background: url("../images/img1.jpg");
  background-position: center !important;
}

.main_banner--wrapper {
  padding: 7.5rem 0 10rem;
}

.banner_text_main {
  padding-top: 9.8rem;
}

.hero_text {
  padding-top: 9.8rem;
}

.banner_text_main h2 {
  font-size: 13.3rem;
  font-weight: 300;
  line-height: 16rem;
  padding-bottom: 1.8rem;
  margin-bottom: 4.5rem;
  border-bottom: 2px solid #fff;
  display: inline-block;
}

.banner_text_main h3 {
  font-size: 3.866rem;
  line-height: 4.6rem;
  margin-bottom: 2.3rem;
}

.banner_text_main ul li,
.banner_text_main p {
  font-size: 3.4rem;
  line-height: 4.2rem;
  font-weight: 300;
  padding-right: 375px;
}

.btn_contact_a {
  font-size: 2rem;
  font-weight: 300;
  background: #929e9c;
  padding: 1px 22px;
  line-height: 2.4rem;
  margin-top: 6.4rem;
  display: inline-block;
  letter-spacing: 2px;
}

.about-single-image {
  position: relative;
  overflow: hidden;
  filter: grayscale(1);
  transition: all ease-in-out 0.3s;
  cursor: pointer;
}

.slick-current .about-single-image,
.about-single-image:hover {
  filter: grayscale(0);
  transition: all ease-in-out 0.3s;
}

.about-single-image img {
  transform: scale(1);
  transition: all ease-in-out 0.3s;
  cursor: pointer;
}

.about-single-image:hover img {
  transform: scale(1.1);
  transition: all ease-in-out 0.3s;
}

.about-single-image::after {
  content: "";
  position: absolute;
  background: rgb(0 0 0 / 35%);
  inset: 0;
  transition: all ease-in-out 0.3s;
}
.about-single-image:hover::after {
  background: rgb(0 0 0 / 20%);
  transition: all ease-in-out 0.3s;
}

.about_wrapper li {
  position: relative;
}

.about-single-text {
  position: absolute;
  color: #fff;
  font-size: 3.3rem;
  right: 0;
  bottom: 0;
  background: rgb(0 0 0 / 66%);
  padding: 0 14px;
  font-weight: 300;
  line-height: 40px;
  letter-spacing: 3px;
}

.body-wrapper-sec {
  background: url("../images/img5.png");
  background-position: bottom;
}

.services-section {
  padding: 16.5rem 0 4.2rem;
}

.btn-video {
  padding: 18.2rem 0 0;
}

.btn_video_a {
  color: #fff;
  font-size: 5.4rem;
  line-height: 7.6rem;
  display: block;
  margin: 0 !important;
  padding: 0 !important;
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 13px;
  position: relative;
  left: -54px;
}

.getintouch--form button,
.btn_contact_a {
  /* border-left: 5px solid;  */
  position: relative;
  z-index: 2;
  text-decoration: none;
  /* color: #444; */
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.getintouch--form button:hover,
.btn_contact_a:hover {
  border-bottom: 0px;
  color: #fff;
}

.getintouch--form button::after,
.btn_contact_a::after {
  content: "";
  height: 100%;
  left: 0;
  top: 0;
  width: 0px;
  position: absolute;
  transition: all 0.3s ease 0s;
  -webkit-transition: all 0.3s ease 0s;
  z-index: -1;
  background: #fff;
}

.getintouch--form button:hover::after,
.btn_contact_a:hover::after {
  width: 100%;
}

.getintouch--form button:hover {
  color: #000;
}

.trusted-wrapper {
  padding: 18.6rem 0 0;
}

.trusted-wrapper h2 {
  color: #fff;
  font-size: 11.2rem;
  margin-bottom: 2.4rem;
  line-height: 13.4rem;
  font-weight: 300;
}

.trusted-images ul {
  gap: 6.5rem;
}

.trusted-images ul:not(:last-child) {
  border-bottom: 2px solid #fff;
  margin-bottom: 4.4rem;
  padding-bottom: 2.7rem;
}

.getintouch-wrapper {
  padding: 13.5rem 0 16.7rem;
}

.getintouch-wrapper h2 {
  font-size: 12rem;
  color: #fff;
  line-height: 14.4rem;
  font-weight: 300;
}

.getintouch-wrapper p {
  font-size: 5.3rem;
  color: #fff;
  font-weight: 300;
  line-height: 6.4rem;
  margin-bottom: 5.3rem;
}

.getintouch--form form {
  align-items: center;
  justify-content: center;
  margin: 0 16rem;
}

.form_group {
  flex-grow: 1;
}

.form_group input {
  height: 5.3rem;
  font-size: 2.8rem;
  color: #fff;
  background: #929e9c;
  padding: 1rem 4rem;
  border-radius: 0;
  border: 0;
  font-weight: 400;
  letter-spacing: 2px;
  line-height: 33.5rem;
}

.getintouch--form input::placeholder {
  color: #fff;
}

.getintouch--form button {
  width: 390px;
  height: 5.3rem;
  border-radius: 0;
  background: rgb(0 0 0 / 30%);
  color: #fff;
  font-size: 2.7rem;
  border: 0;
}

.suscribe_div {
  text-align: center;
  color: #fff;
  margin: 1rem 0 0;
  font-size: 2.8rem;
}

footer {
  background: #929e9c;
  padding: 17.6rem 0 0;
}

.footer1 figcaption {
  color: #fff;
  font-size: 2.8rem;
  line-height: 3.6rem;
  margin: 1.2rem 0 0;
  padding: 0 128px 1rem 0;
  font-weight: 300;
}

.footer-main--wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.footer-main--wrapper li,
.footer-main--wrapper a {
  color: #fff;
  font-size: 2.2rem;
  line-height: 3.4rem;
  font-weight: 300;
}
.footer2 ul {
  display: grid;
  gap: 1.75rem 0;
  justify-content: center;
}
.footer2 strong {
  font-size: 2.6rem;
  line-height: 3.1rem;
  display: inline-block;
  font-weight: 600;
}
.footer2 p {
}
.footer3 {
  display: grid;
  justify-content: center;
  align-items: center;
}
.footer3 ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  gap: 15px 88px;
}

.footer-main--wrapper > div {
  position: relative;
}
.footer-main--wrapper > div:not(:first-child)::after {
  content: "";
  position: absolute;
  border-left: 1px solid #fff;
  top: 0;
  left: 0;
  bottom: 0;
  transition: all ease-in-out 0.3s;
}

.footer_li a.active,
.footer-main--wrapper a:hover {
  color: #7bccc3 !important;
  transition: all ease-in-out 0.3s;
}

.footer-main {
  padding-bottom: 2.6rem;
}

.copyright {
  font-size: 1.3rem;
  color: #fff;
  display: flex;
  justify-content: flex-end;
  padding: 6px 22px 1.5rem;
  line-height: 3.4rem;
}

.social-link {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: #fff;
  gap: 0 2.1rem;
  margin-bottom: 0.65rem;
}

.social-link {
}
.social-link ul {
  display: flex;
  gap: 0.8rem;
}
.social-link strong {
  font-size: 2.6rem;
  font-weight: 600;
}
.social-link ul p {
  background: #7bccc3;
  padding: 0.5rem;
  border-radius: 50%;
}
.social-link ul svg {
  width: 20px;
  height: 20px;
}

.social-link ul svg circle,
.social-link ul svg path {
  fill: #fff;
}
.social-link a:hover p {
  transform: translateY(-7px);
  transition: all ease-in-out 0.3s;
}
.rules_ul {
  display: flex;
  gap: 0 14px;
}
.rules_ul a {
  font-size: 1.46rem;
  display: inline-block;
  line-height: 3.4rem;
}
.banner_slider_image-wrap {
  position: relative;
}

.banner_slider_image-wrap::after {
  content: "";
  position: absolute;
  inset: 0;
}
.slick-current .banner_slider_image-wrap::after,
.banner_slider_image-wrap:hover::after {
  transition: all ease-in-out 0.3s;
  background: rgb(0 0 0 / 40%);
}

.slider_count {
  position: absolute;
  z-index: 3;
  display: inline-block;
  font-size: 11.2rem;
  left: 1.8rem;
  color: #fff;
  line-height: 13.4rem;
  font-weight: 300;
}
.services-section .banner_slider_image {
  margin-top: 10rem;
}

.banner_slider-single-text {
  position: absolute;
  bottom: -52px;
  z-index: 10;
  right: 0;
  line-height: 5.1rem;
  color: #fff;
  font-size: 4.3rem;
  font-weight: 300;
  letter-spacing: 3px;
  transition: all ease-in-out 0.3s;
}
.slick-current .banner_slider_image-wrap .banner_slider-single-text,
.banner_slider_image-wrap:hover .banner_slider-single-text {
  bottom: 0;
  transition: all ease-in-out 0.3s;
}
/* ===================
HOMEPAGE-END
=================== */

/* ===================
ABOUTPAGE-START
=================== */
.about_page .about_wrapper {
  padding-bottom: 158px;
}
.about_page .banner_text_main h2 {
  font-size: 109px;
  line-height: 122px;
  padding-bottom: 16px;
  margin-bottom: 32px;
}
.about_page .banner_text_main h3 {
  font-size: 29px;
  line-height: 46px;
  margin-bottom: 13px;
}
.about-section {
  background: url(../images/img16.png);
  background-position: center;
}
.about_text {
  max-width: 100%;
}
.banner_text_main ul li {
  position: relative;
  padding-left: 20px;
}
.banner_text_main ul li::before {
  content: ">";
  position: absolute;
  left: 0;
}
.bg-image__abt_video {
  background: url(../images/img17.png);
  background-position: center;
}

.body-wrapper-sec_abt {
  background: url(../images/img19.png);
  background-position: bottom;
  background-blend-mode: color;
}

.value_props_owner-section,
.cta {
  position: relative;
  z-index: 0;
}

.value_props_owner-section::before,
.cta::after {
  content: "";
  position: absolute;
  background: rgb(0 0 0 / 20%);
  inset: 0;
  z-index: -1;
  pointer-events: none;
}

.cta-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  padding: 130px 0 126px;
  color: #fff;
  font-weight: 300;
}
.left_cta {
  grid-column: span 2;
}
.left_cta h2 {
  font-size: 107px;
  font-size: 133.668px;
}
.right_cta {
  font-size: 3.4rem;
  line-height: 41px;
  position: relative;
}

.right_cta::before {
  content: "";
  position: absolute;
  border-left: 2px solid #fff;
  left: -62px;
  top: 0;
  bottom: 0;
}

.team-section--wrapper ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.team-section--wrapper ul img {
  width: 100%;
}
.team-section--wrapper li {
  position: relative;
  overflow: hidden;
}
.team-section--wrapper figure {
  margin: 0;
}
.team-section--wrapper figcaption {
  position: absolute;
  width: 473px;
  right: 0;
  color: #fff;
  /* background: #7bccc3; */
  bottom: -55rem;
  transition: all ease-in-out 0.3s;
}
.team-section--wrapper li:hover figcaption {
  bottom: 0;
  transition: all ease-in-out 0.3s;
}

.team-section--wrapper figcaption h2 {
  font-size: 68px;
  line-height: 82px;
  font-size: 62px;
  line-height: 1;
  font-weight: 300;
  background: #7bccc3;
  padding: 0 35px;
}
.team-section--wrapper figcaption p {
  line-height: 41px;
  font-size: 34px;
  font-family: Helvetica;
  font-weight: 300;
  padding: 50px 30px;
  background: rgb(123 204 195 / 35%);
}
.btn_value_props_owner {
}
.btn_value_props_owner .btn_contact_a {
  background: #7bccc3;
  margin-top: 8.8rem;
}
.value_props_owner_text {
  padding-bottom: 6rem;
}
.value_props_owner-section {
  position: relative;
  overflow: hidden;
}
.value_props_owner-section::after {
  content: "";
  position: absolute;
  background: url(../images/stripe.png);
  inset: -95px -25px 1px -21rem;
  opacity: 0.2;
  pointer-events: none;
}
.partner-images__ul {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  align-items: center;
  gap: 50px;
}
.partner-section {
  padding: 138px 0 0;
  background: rgb(255 255 255 / 37%);
}
.partner-wrapper h2 {
  font-size: 12rem;
  color: #fff;
  line-height: 14.4rem;
  font-weight: 300;
}
.about_page .trusted-wrapper {
  padding-top: 129px;
}
/* ===================
ABOUTPAGE-END
=================== */

/* ===================
TEAMPAGE-START
=================== */
.body-wrapper-sec_team {
  background: url(../images/img30.png);
}
.team-section {
  background: url(../images/img29.png);
  background-position: center;
}

.team_text h2 {
  font-size: 112px;
  line-height: 128px;
}

.team_wrapper {
  padding-bottom: 130px;
}

.team-section--three_col ul {
  grid-template-columns: repeat(3, 1fr);
}
.no-image-with-team {
  display: grid;
  align-items: center;
  justify-content: center;
}

.team_page .team-section--three_col .no-image-with-team figcaption {
  max-width: 433px;
  transform: none;
}
.no-image-with-team figcaption {
  position: relative;
  inset: 0;
  width: auto;
  padding: 0;
  transform: none;
}

.no-image-with-team figcaption p {
  background: transparent;
  font-size: 6.8rem;
  font-weight: 600;
  line-height: 8.2rem;
  padding: 0;
}

.team_page .team-section--three_col figcaption {
  transform: none;
  max-width: 433px;
  bottom: -59rem;
}
.team_page .team-section--three_col figcaption h2 {
  font-size: 52px;
  padding: 0;
  font-weight: 400;
}

.team_page .team-section--three_col figcaption h3 {
  font-size: 4.6rem;
  background: rgb(0 0 0 / 37%);
  margin-top: 7px;
  line-height: 5.3rem;
}

.team-section--wrapper li:hover figcaption {
  transition: all ease-in-out 0.3s;
}
/* ===================
TEAMPAGE-END
=================== */
/* ===================
COMMUNITYPAGE-START
=================== */
.body-wrapper-sec_community_bg {
  background: url(../images/img32.jpg);
  background-position: top;
  position: relative;
  overflow: hidden;
  z-index: 0;
}
.body-wrapper-sec_community_bg::after {
  content: "";
  position: absolute;
  background: url(../images/stripe2.png);
  inset: -95px -25px 1px -21rem;
  opacity: 0.2;
  z-index: -2;
}
.community-section {
  background: rgb(0 0 0 / 18%) url(../images/img31.png);
  background-position: bottom;
  background-blend-mode: multiply;
}
.community-section--wrapper {
}
.community-section--wrapper ul {
}
.community-section--wrapper li {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 0;
}
.community-section--wrapper li::after {
  content: "";
  position: absolute;
  background: #929e9c;
  background: rgb(146 158 156 / 32%);
  inset: 0;
  z-index: -1;
}
.community-section--wrapper li figure img {
  width: 100%;
}

.community-section--wrapper li figcaption {
  color: #fff;
  display: grid;
  align-items: center;
  justify-content: center;
  padding: 10rem 10rem;
}
.community-section--wrapper li figcaption h2 {
  font-size: 5.7rem;
  line-height: 6.2rem;
  font-weight: 300;
  border-bottom: 1px solid #fff;
  margin-bottom: 1.2rem;
}
.community-section--wrapper li figcaption p {
  font-size: 3.4rem;
  line-height: 4.1rem;
}
.btn-read-com .btn_contact_a {
  margin-top: 4.4rem;
}
.community-section--wrapper li:nth-child(2n) {
}
.community-section--wrapper li:nth-child(2n) figure {
  grid-column: 2/2;
}
.community-section--wrapper li:nth-child(2n) figcaption {
  grid-column: 1/1;
  grid-row: 1/1;
}

/* ===================
COMMUNITYPAGE-END
=================== */
.absolute_btnplay {
  position: relative;
}
.videoplay_image {
  position: absolute;
  inset: 0;
  display: grid;
  align-items: center;
  justify-content: center;
  pointer-events: none;
}
.vido_slider {
  background: none !important;
  height: 525px;
  /* height: auto; */
  position: relative;
  overflow: hidden;
}

.iframe-container {
  background: #000;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
  /* height: 100%; */
  width: 100%;
  /* position: absolute; */
}

embed,
iframe,
object,
video {
  max-width: unset !important;
}

.iframe-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media (min-aspect-ratio: 16/9) {
  .iframe-container iframe {
    height: 300%;
    top: -100%;
  }
}

@media (max-aspect-ratio: 16/9) {
  .iframe-container iframe {
    width: 320%;
    left: -100%;
  }
}

.navbar-toggler {
  display: none;
}

.services_text.banner_text_main {
  padding-top: 0;
}

/* RESPONSIVE */
@media (max-width: 1660px) {
  .hero_text {
    padding-top: 6.8rem;
  }

  .about_page .about_wrapper,
  .main_banner--wrapper {
    padding: 7.5rem 0 7rem;
  }
  .navbar-brand {
    width: 15rem;
  }

  .left_cta h2,
  .about_page .banner_text_main h2,
  .banner_text_main h2 {
    font-size: 5rem;
    line-height: 6rem;
    padding-bottom: 0.8rem;
    margin-bottom: 2.5rem;
  }

  .about_page .banner_text_main h3,
  .banner_text_main h3 {
    font-size: 2rem;
    line-height: 2rem;
    margin-bottom: 1.3rem;
  }

  .community-section--wrapper li figcaption p,
  .right_cta,
  .banner_text_main ul li,
  .banner_text_main p {
    font-size: 1.6rem;
    line-height: 2.3rem;
    max-width: 80rem;
  }

  .btn_contact_a {
    font-size: 1.5rem;
    margin-top: 4.4rem;
    line-height: 1.1rem;
  }

  .banner_slider-single-text,
  .about-single-text {
    font-size: 1.8rem;
    line-height: 2.1rem;
  }

  .slider_count {
    font-size: 5.2rem;
  }

  .services-section {
    padding: 9.5rem 0 4.2rem;
  }

  .services-section .banner_slider_image {
    margin-top: 7rem;
  }

  .btn-video {
    padding: 14.2rem 0 0;
  }

  .banner_slider-single-text {
  }
  .btn_video_a {
    font-size: 2.2rem;
    line-height: 2.6rem;
    text-underline-offset: 6px;
  }

  .videoplay_image img {
    width: 80px;
  }

  .trusted-wrapper {
    padding: 5.6rem 0 0;
  }

  .partner-wrapper h2,
  .getintouch-wrapper h2,
  .trusted-wrapper h2 {
    font-size: 4rem;
    line-height: 5rem;
    margin-bottom: 0;
  }

  .trusted-images ul:not(:last-child) {
    border-bottom: 2px solid #fff;
    margin-bottom: 2.4rem;
    padding-bottom: 0.7rem;
  }

  .trusted-images ul {
    gap: 4.5rem;
  }

  .partner-images__ul li {
    margin: 0 auto;
  }
  .partner-single-image,
  .trusted-single-image {
    width: 13rem;
  }
  .trusted-single-image img {
  }

  .getintouch-wrapper {
    padding: 10.5rem 0 9.7rem;
  }

  .getintouch-wrapper p {
    font-size: 2rem;
    line-height: 2.4rem;
    margin-bottom: 4rem;
  }

  .form_group input {
    height: 5.3rem;
    font-size: 1.6rem;
    padding: 1rem 2rem;
  }
  .getintouch--form button {
    width: 330px;
    font-size: 1.5rem;
  }

  footer {
    padding: 6.6rem 0 0;
  }

  .footer-logo {
    width: 13rem;
  }

  .footer2 strong {
    font-size: 1.6rem;
    line-height: 2.1rem;
  }

  .footer1 figcaption {
    font-size: 1.6rem;
    line-height: 2.2rem;
  }
  .footer1 figcaption br {
    display: none;
  }

  .social-link strong {
    font-size: 2rem;
  }

  .social-link ul svg {
    width: 16px;
    height: 16px;
  }
  .footer-main--wrapper li,
  .footer-main--wrapper a {
    font-size: 1.5rem;
    line-height: 2rem;
  }

  .rules_ul a {
    font-size: 1.2rem;
    line-height: 1.7rem;
  }

  .footer3 ul {
    gap: 10px 50px;
  }
  .footer-main {
    padding-bottom: 1.5rem;
  }
  .copyright {
    font-size: 1.2rem;
    padding: 6px 22px 1rem;
    line-height: 2.4rem;
  }

  /* AboutPage */
  .team_text h2,
  .about_page .banner_text_main h2 {
    font-size: 5rem;
    line-height: 6rem;
  }
  .about_text {
    padding-top: 6.8rem;
  }

  .cta-wrapper {
    padding: 100px 0 70px;
  }

  .left_cta h2 {
    margin: 0;
    padding: 0;
  }

  .team-section--wrapper figcaption p {
    line-height: 2rem;
    font-size: 1.6rem;
    padding: 15px 10px;
  }

  .team-section--wrapper figcaption h2 {
    font-size: 23px;
    padding: 0 10px;
  }

  .team-section--wrapper figcaption {
    width: 280px;
    bottom: -19rem;
  }

  /* TeamPage */
  .no-image-with-team figcaption p {
    font-size: 3.8rem;
    line-height: 4.2rem;
  }
  .team_page .team-section--three_col figcaption {
    bottom: -19rem;
  }
  .team_page .team-section--three_col figcaption h2 {
    font-size: 2.3rem;
  }
  .team_page .team-section--three_col figcaption h3 {
    font-size: 1.6rem;
    line-height: 2.3rem;
  }

  /* COMMUNITYPAGE */
  .community-section--wrapper li figcaption h2 {
    font-size: 3.7rem;
    line-height: 4.2rem;
  }
}

@media (max-width: 1199px) {
  .left_cta h2,
  .banner_text_main h2 {
    font-size: 4.5rem;
    line-height: 5.5rem;
  }

  .about_page .banner_text_main h3,
  .banner_text_main h3 {
    font-size: 2rem;
    line-height: 1.6rem;
  }
  .banner_slider-single-text,
  .about-single-text {
    font-size: 1.5rem;
    line-height: 2.1rem;
  }
  .slider_count {
    font-size: 3.2rem;
    line-height: 4.4rem;
  }
  .btn_video_a {
    left: 0;
    font-size: 1.4rem;
    line-height: 1.6rem;
  }
  .getintouch-wrapper h2,
  .trusted-wrapper h2 {
    font-size: 3.3rem;
    line-height: 4rem;
  }
  .trusted-images ul {
    gap: 2.5rem;
  }

  .partner-single-image,
  .trusted-single-image {
    width: 10rem;
  }
  .getintouch--form {
    margin: 0 auto;
    text-align: center;
  }
  .getintouch--form button {
    width: 200px;
  }
  .getintouch--form form {
    display: block !important;
    margin: 0 10rem;
  }
  .getintouch--form button {
    margin: 1rem 0 0;
    background: #000;
  }
  .footer-main--wrapper {
    grid-template-columns: repeat(2, 1fr);
    gap: 3.5rem;
  }
  .footer3 {
    justify-content: flex-start;
  }
  .footer1 figcaption {
    padding-right: 0;
  }
  .footer-main--wrapper > div.footer3:not(:first-child)::after {
    display: none;
  }

  /* Aboutpage */
  .partner-images__ul {
    gap: 20px;
  }

  .about_page .trusted-wrapper,
  .partner-section {
    padding: 6.5rem 0 0;
  }

  .team_text h2,
  .about_page .banner_text_main h2 {
    font-size: 4rem;
    line-height: 5rem;
  }
  /* COMMUNITYPAGE */
  .community-section--wrapper li figcaption {
    padding: 5rem 5rem;
  }
}

@media (max-width: 991px) {
  .cta-wrapper {
    grid-template-columns: repeat(1, 1fr);
    gap: 1.5rem;
  }
  .right_cta::before {
    display: none;
  }
  /* TeamPage */
  .team_page .team-section--three_col figcaption h2 {
    font-size: 1.5rem;
  }
  .team-section--wrapper figcaption {
    width: 200px;
    bottom: -27rem;
  }
  .no-image-with-team figcaption p {
    font-size: 2.8rem;
    line-height: 3rem;
  }
  .team_page .team-section--three_col figcaption {
    bottom: -27rem;
  }
  .banner_text_main ul li,
  .banner_text_main p {
    padding-right: 0;
  }

  /* communityPage */
  .community-section--wrapper li figcaption {
    padding: 3rem 3rem;
  }
  .community-section--wrapper li figcaption h2 {
    font-size: 2.7rem;
    line-height: 3.2rem;
  }
  .community-section--wrapper li:nth-child(2n) {
    grid-template-rows: repeat(2, 1fr);
  }
  .community-section--wrapper li:nth-child(2n) figure {
    grid-column: 1/1;
    grid-row: 1/2;
  }

  .community-section--wrapper li:nth-child(2n) figcaption {
    grid-column: 1/1;
    grid-row: 2/3;
  }
  .banner_text_main {
    padding-top: 3.8rem;
  }
}
@media (max-width: 767px) {
  .banner_text_main ul li,
  .banner_text_main p {
    padding-right: 0;
  }
  .btn-video {
    padding: 7.2rem 0 0;
    margin: 0 auto;
    text-align: center;
  }
  .footer-main--wrapper {
    grid-template-columns: repeat(1, 1fr);
    gap: 3.5rem;
  }
  .footer2 ul {
    justify-content: left;
  }
  .footer-main--wrapper > div:not(:first-child)::after {
    border-left: 0;
  }
  .footer-main--wrapper {
    gap: 5.5rem;
  }
  .getintouch--form form {
    margin: 0;
  }
  /* AboutPage */
  .partner-images__ul {
    gap: 0;
    margin: 0 0 3rem;
    grid-template-columns: repeat(3, 1fr);
  }

  .team-section--wrapper ul {
    grid-template-columns: repeat(2, 1fr) !important;
  }

  /* communityPage */
  .community-section--wrapper li {
    grid-template-columns: repeat(1, 1fr);
  }
  .vido_slider {
    height: 100vh;
  }
  .iframe-container {
    height: 100%;
  }
}
@media (max-width: 575px) {
  .left_cta h2,
  .about_page .banner_text_main h2,
  .banner_text_main h2 {
    font-size: 3.5rem;
    line-height: 4.5rem;
  }
  .banner_text_main h2 br {
    display: none;
  }
  .trusted-section {
    padding: 0 5px;
  }

  .partner-wrapper h2,
  .getintouch-wrapper h2,
  .trusted-wrapper h2 {
    font-size: 2.5rem;
    line-height: 3rem;
  }
  .getintouch-wrapper p {
    font-size: 1.5rem;
  }
  /* AboutPage */
  .partner-images__ul {
    grid-template-columns: repeat(2, 1fr);
  }
  .partner-wrapper h2,
  .getintouch-wrapper h2,
  .trusted-wrapper h2 {
    margin-bottom: 1rem;
  }
  /* TeamPage */
  .team-section--wrapper ul {
    grid-template-columns: repeat(1, 1fr) !important;
  }
  .no-image-with-team figcaption p br {
    display: none;
  }
  .team_page .team-section--three_col .no-image-with-team figcaption {
    max-width: 100%;
    transform: none;
    width: 100%;
    text-align: center;
  }
  .team_page .team-section--wrapper figcaption p {
    padding: 25px 10px;
  }

  .team_page .team-section--three_col figcaption {
  }
  .team_page .team-section--three_col figcaption {
    bottom: -29rem;
  }
  .team_page .team-section--three_col figcaption h2 {
    font-size: 2rem;
  }
  .team_page .team-section--three_col figcaption h3 {
    font-size: 2rem;
    line-height: 2.3rem;
  }
  .videoplay_image img {
    width: 50px;
  }
  .btn_video_a {
    line-height: 3rem;
  }
  .vido_slider {
    height: 117px;
  }
}
@media (min-width: 1661px) {
  .navbar-brand {
    width: clamp(1rem, 15rem, 20rem);
    line-height: 2.6rem;
  }

  .banner_text_main h2 {
    font-size: clamp(1rem, 5.5rem, 6rem);
    line-height: 6rem;
    margin-bottom: 2.5rem;
  }

  .banner_text_main h3 {
    font-size: clamp(1.6rem, 2rem, 2.866rem) !important;
    line-height: 2.6rem !important;
    margin-bottom: 1.3rem !important;
  }
  .banner_text_main ul li,
  .banner_text_main p {
    font-size: clamp(1rem, 1.8rem, 2.4rem);
    max-width: 100rem;
    line-height: 2.2rem;
  }
  .banner_text_main h2 br {
    /* display: none; */
  }

  .banner_slider-single-text,
  .about-single-text {
    font-size: 2rem;
    line-height: 25px;
  }
  .btn_contact_a {
    font-size: 1.7rem;
    line-height: 1.4rem;
  }
  .slider_count {
    font-size: 4.2rem;
    line-height: 6.4rem;
  }
  .btn_video_a {
    font-size: clamp(1rem, 2.5rem, 3rem);
    line-height: 2.6rem;
    left: 0;
  }
  .videoplay_image img {
    width: clamp(1rem, 22.5rem, 10rem);
  }
  .services-section {
    padding: 10.5rem 0 4.2rem;
  }

  .partner-wrapper h2,
  .getintouch-wrapper h2,
  .trusted-wrapper h2 {
    font-size: clamp(1rem, 4rem, 6rem);
    line-height: 5rem;
  }
  .trusted-wrapper {
    padding: 15.6rem 0 0;
  }
  .trusted-images ul {
    /* gap: 7.5rem; */
  }

  figure.trusted-single-image {
    width: 12rem;
  }
  .getintouch-wrapper {
    padding: 10.5rem 0 13.7rem;
  }
  .getintouch-wrapper p {
    font-size: 2.2rem;
    line-height: 2.4rem;
  }
  .form_group input {
    font-size: 1.6rem;
  }
  .getintouch--form button {
    font-size: 2rem;
  }
  .suscribe_div {
    font-size: 1.6rem;
  }

  footer {
    padding: 8.6rem 0 0;
  }

  .footer-logo {
    width: clamp(1rem, 15rem, 20rem);
    line-height: 2.6rem;
  }
  .footer1 figcaption {
    font-size: 1.8rem;
    line-height: 2.6rem;
  }
  .footer2 strong {
    font-size: 2rem;
  }
  .footer-main--wrapper li,
  .footer-main--wrapper a {
    font-size: 1.8rem;
    line-height: 2rem;
  }
  .footer2 p {
    line-height: 2.3rem;
  }

  .rules_ul li a {
    font-size: 1.4rem;
  }
  /* Aboutpage */
  .about_page .banner_text_main h2 {
    font-size: clamp(1rem, 5rem, 6rem);
    line-height: 6rem;
    margin-bottom: 2.2rem;
  }

  .left_cta h2 {
    font-size: clamp(1rem, 6rem, 6rem);
  }
  .right_cta {
    font-size: 2rem;
    line-height: 28px;
  }

  .team_page .team-section--three_col figcaption h2,
  .team-section--wrapper figcaption h2 {
    font-size: 3rem;
  }

  .team-section--wrapper figcaption p,
  .team-section--wrapper figcaption p {
    line-height: 20px;
    font-size: 1.8rem;
    padding: 3rem;
  }
  .team-section--wrapper figcaption {
    bottom: -16rem;
  }
  .team-section--wrapper li:hover figcaption {
    bottom: 0;
    transition: all ease-in-out 0.3s;
  }
  .partner-single-image {
    width: 15rem;
    margin: 0 auto;
  }
  .partner-section {
    padding: 70px 0 0;
  }
  .about_page .trusted-wrapper {
    padding-top: 80px;
  }
  .team_page .team-section--three_col figcaption h2 {
    font-size: 2.5rem;
  }
  .team_page .team-section--three_col figcaption h3 {
    font-size: 2rem;
    line-height: 3.3rem;
  }
  .team_page .team-section--wrapper figcaption {
    bottom: -18rem;
  }
  .no-image-with-team figcaption p {
    font-size: 3.8rem;
    line-height: 4.2rem;
  }
  /* communityPage */
  .community-section--wrapper li figcaption {
  }
  .community-section--wrapper li figcaption h2 {
    font-size: 3.7rem;
    line-height: 4.2rem;
  }
  .community-section--wrapper li figcaption p {
    font-size: 1.6rem;
    line-height: 2.3rem;
  }
}
@media (min-width: 1660px) {
  .container {
    /* max-width: 1650px; */
    max-width: 1590px;
  }
}
